<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= name %></title>
    <meta name="keywords" content="<%= description %>">
    <meta name="description" content="<%= description %>">

    <!-- start: 基础样式表（common.css和reset.css） -->
    <link href="base.css" rel="stylesheet">
    <!-- end: 基础样式表（common.css和reset.css） -->

    <!-- start: 专属样式表 -->
    <link rel="stylesheet" href="css/index.css" />
    <!-- end: 专属样式表 -->
</head>
<body>
<div class="m-wrapper">
    <!-- start:模块头部 -->
    <div class="m-header">
        模块头部区域
    </div>
    <!-- end:模块头部 -->

    <!-- start:模块内容 -->
    <div class="m-content">
        模块内容区域
    </div>
    <!-- end:模块内容 -->

    <!-- start:模块尾部 -->
    <div class="m-footer">
        模块尾部区域
    </div>
    <!-- end:模块尾部 -->
</div>

<!-- start: 基础脚本 -->
<script src="jquery-latest.js"></script>
<!-- start: 基础脚本 -->

<!-- start: 专属脚本 -->
<script src="js/index.js"></script>
<!-- start: 专属脚本 -->
</body>
</html>